################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EndProject/EndProject.Backend/appsettings.json
/EndProject/EndProject.Backend/appsettings.json
